$yellow: #FFCC00;
$persianBlue: #0F37D9;
$darkBlue: #002d3b;
$neonBlue: #4258FF;
$neonBlueOpacity: #4258FF50;
$mutedNeonBlue: #c4cbff;
$red: #AD2A13;
$darkRed: #250000;
$pink: #B2675E;
$mutedPink: #e7cfcc;
$pinkOpacity: #B2675E50;

$color-primary: $yellow;
$color-primary-tint: yellow;
$color-secondary: wheat;
$color-primary-dark: black;
$color-primary-dark-alt: $neonBlue;


$color_overlay: rgba(0,0,0,0.9);
$color_shadow: rgba(0,0,20,0.5);