@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&family=Megrim&family=Monoton&family=Righteous&display=swap');
$font-header: "Monoton";
$font-primary: "Megrim";
$font-secondary: "IBM Plex Mono";