.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-color: $color-dark;
  
  border: 4px solid $color-lighter;
  
  margin: 10px;
  padding: 10px;
  
  .container {
    border: none;
  }
}