.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1250px;
  margin-bottom: 20px;
  
  //background: linear-gradient(0deg, $color-primary-dark, $color-secondary);
  //border-bottom: 5px dotted $color-primary;

  //box-shadow: call(get-function(boxShadowPattern), 12, 5px, $color-primary-dark, $color-primary);
          //animation: 5s blink infinite step-start;
  
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    border: none;
    box-shadow: none;
    animation: none;
    clip-path: polygon(100% -10%, 100% 100%, 0 98%, 0 0);
    background-color: whitesmoke;
    padding: 20px 10%;
    max-width: 950px;
    
    & > p,
    & > span,
    & > h2,
    & > h3,
    & > h4, {
      max-width: 950px;
      padding: 10px 20px;
      
      &:nth-child(even) {
        transform: skewX(3deg);
        background-color: $mutedNeonBlue;
        
        box-shadow: 10px 10px 0px 0px $mutedPink;
      }
      
      &:nth-child(odd) {
        background-color: $mutedPink;
        transform: skewX(3deg);

        box-shadow: 5px 5px 0px 0px $mutedNeonBlue;
      }

      &:nth-child(4n - 1) {
        transform: skewX(0deg) translateX(10px) rotateZ(0.5deg);
      }

      &:nth-child(3n - 1) {
        transform: skewX(-3deg);
      }

      &:nth-child(3) {
        transform: skewX(0deg) translateX(10px) rotateZ(0.5deg);
      }
    }
  }
}

header .container {
  padding: 40px;
  max-width: none;
  background-color: black;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

  @media only screen and (max-width: 1250px)  {
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 100%);
  }
}

main .container {
  max-width: none;
}

#about .container {
  justify-content: center;
  align-items: start;
  text-align: left;
  
  & > p:last-child {
    background-color: $mutedPink;
    transform: skewX(0);
    margin-bottom: 70px;
  }
}

#about .container:nth-of-type(2) {
  & > p:nth-of-type(2) {
    margin-bottom: -45px;
    z-index: 2;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    background-color: $mutedPink;
    
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 50px;
      background-color: inherit;
      left: 0;
      z-index: -1;
      border-radius: 50% 0 0 50%;
    }
    
    &::before {
      content: "";
      width: 100px;
      height: 100px;
      background-color: $mutedPink;
      z-index: -1;
      position: absolute;
      left: 0px;
      border: inherit;
      
      transform: scale(1);
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      margin: -50px;
      margin-right: 10px;
      transform: rotateZ(45deg);
      $bgColor: $neonBlue;
      background-image:
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%);

      background-repeat: no-repeat;
      background-position: center;

      animation: 2s linear infinite radial;
    }
  }
  
  & li:nth-of-type(6) {
    &::after {
      content: none;
    }
    
    &:hover {
      animation: 1s linear infinite text-anim;
      transform-origin: left center;

      @keyframes text-anim {
        0% {
          transform: translateX(0) skewX(0)
        }
        25% {
          transform: translateX(0) skewX(45deg) rotateZ(-5deg) scaleX(0.75);
        }
        30% {
          transform: translateX(0%) skewX(20deg) scaleX(1);
        }
        75% {
          transform: translateX(400%)
        }
        80% {
          transform: translateX(400%) translateY(-200%)
        }
        85% {
          transform: translateX(0) translateY(-50vh)
        }
        100% {
          transform: translateX(0) translateY(0)
        }
      }
    }
  }
}

@property --bg-rotation {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.container {
  perspective: 100px;
}

.container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 70px;
  padding: 2em 4em;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  border-radius: 20px;
  
  animation: 5s ease-in-out hover infinite alternate;
  
  @keyframes hover {
    from { transform: translateZ(0px) rotateZ(-0.5deg) }
    to { transform: translateZ(1px) rotateZ(0.5deg) }
  }

  box-shadow: 5px 5px 5px 0px $color_shadow,
  25px 25px 0px -10px $mutedNeonBlue,
  -25px -25px 0px -10px $mutedPink;
  
  &::before {
    content: "";
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    background-color: $mutedNeonBlue;
    margin: 10px;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
  }
  &::after {
    content: "";
    height: calc(100% + 2000px);
    width: calc(100% + 2000px);
    position: absolute;
    background-position: center;
    left: -1000px;
    top: -1000px;
    
    @include conical-gradient(5, $neonBlue, black);
    animation: 20s linear infinite bg-rotation;
    z-index: -2;
  }
  
  @keyframes bg-rotation {
    0% { transform: rotateZ(0deg) }
    50% { transform: rotateZ(150deg) }
    100% { transform: rotateZ(360deg) }
  }
  
  li {
    list-style: none;
    transition: 250ms;
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    z-index: 1;
    
    &::before {
      content: "";
      background-color: black;
      border-radius: 100%;
      $size: 5px;
      width: $size;
      height: $size;
      display: inline-block;
      margin-right: 10px;
      
      left: 0;
      z-index: 1;
    }

    
    &::after {
      content: "";
      position: absolute;
      left: -22px;
      border-radius: 100%;
      pointer-events: none;
      width: 50px;
      height: 50px;
      transform: scale(0);
      transition: transform 250ms;
      z-index: -1;
    }
    &:hover::before {
      background-color: white;
      box-shadow: 0px 0px 15px hotpink,
                   0px 0px 2px hotpink;
    }
    &:hover {
      text-shadow: 0px 0px 15px hotpink,
                    0px 0px 2px hotpink;
      font-weight: bold;
      color: white;
    }
    &:hover::after {
      background-color: transparent;
      transform: scale(1);

      $bgColor: $neonBlue;
      background-image:
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%),
              radial-gradient(transparent 20%, transparent 48%, $bgColor 49%, $bgColor 50%, transparent 51%);

      background-repeat: no-repeat;
      background-position: center;

      animation: 2s linear infinite radial;
    }
  }
}


@keyframes clipPath {
  0% {
    clip-path: polygon(0% 0, 5% 0, -5% 200%, -25% 200%);
  }
  30% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
  100% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
}

@keyframes radial {
  0% {
    background-size:
            0% 0%,
            50% 50%,
            100% 100%,
            150% 150%,
            200% 200%
  }
  100% {
    background-size:
            50% 50%,
            100% 100%,
            150% 150%,
            200% 200%,
            250% 250%;
  }
}