.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1250px;
  margin-bottom: 20px;
  
  //background: linear-gradient(0deg, $color-primary-dark, $color-secondary);
  //border-bottom: 5px dotted $color-primary;

  //box-shadow: call(get-function(boxShadowPattern), 12, 5px, $color-primary-dark, $color-primary);
          //animation: 5s blink infinite step-start;
  
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    border: none;
    box-shadow: none;
    animation: none;
    clip-path: polygon(100% -10%, 100% 100%, 0 98%, 0 0);
    background-color: whitesmoke;
    padding: 20px 10%;
    max-width: 950px;
    
    & > p,
    & > span,
    & > h2,
    & > h3,
    & > h4, {
      max-width: 950px;
      padding: 10px 20px;
      
      &:nth-child(even) {
        transform: skewX(-3deg);
        background-color: $mutedNeonBlue;
      }
      
      &:nth-child(odd) {
        background-color: $mutedPink;
        transform: skewX(3deg);
      }

      &:nth-child(3) {
        transform: skewX(0deg) translateX(10px) rotateZ(0.5deg);
        background-color: $mutedPink;
      }
    }
  }
}

header .container {
  padding: 40px;
  max-width: none;
  background-color: black;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

  @media only screen and (max-width: 1250px)  {
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 100%);
  }
}

main .container {
  max-width: none;
}

#about .container {
  justify-content: center;
  align-items: start;
  text-align: left;
  
  & > p:last-child {
    background-color: $mutedPink;
    transform: skewX(0);
    margin-bottom: 70px;
  }
}


@keyframes clipPath {
  0% {
    clip-path: polygon(0% 0, 5% 0, -5% 200%, -25% 200%);
  }
  30% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
  100% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
}
