nav {
  width: 100%;
  background: linear-gradient(45deg, #e7cfcd, #d8cde2);
  padding-bottom: 25px;
  
  @media only screen and (min-width: 1250px) {
    transform: rotateZ(1deg) translateY(10px);
    padding-bottom: 60px;
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(45deg, #e7cfcd, #d8cde2);
    height: 100px;
    transform: translateY(-60px);
    z-index: -1;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    gap: 20px;
    
    li {
      list-style: none;
      width: 40%;
      text-align: center;

      background-color: $mutedNeonBlue;
      box-shadow: 0px 0px 0px 3px $mutedNeonBlue;
      color: black;
      font-weight: bold;
      text-shadow: none;
      display: inline-block;
      text-decoration: none;
      transition: 250ms;
      border: 5px solid black;
      
      a {
        text-decoration: none;
        line-height: 3;
      }

      &:nth-child(2n) {
        transform: skewX(-5deg);
      }

      &:nth-child(3n) {
        transform: skewX(5deg) rotateZ(-1deg);
      }

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0px 0px 0px 4px $color-primary;
        background-color: $color-primary;
        cursor: pointer;
        transform: skewX(0);
      }
    }
  }
}