h1,
h2,
h3,
h4 {
  font-family: Cinzel;
  color: $color_lighter;
}

h1 {
  color: $color_lighter;
  font-size: 90px;
  line-height: 1.3;
}

p,
a,
span,
ol,
li {
  color: $color_lighter;
  font-family: "Amatic SC";
  font-size: 35px;
}

.skip-link {
  background: linear-gradient(0deg, $color_light, $color_dark);
  outline: none;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-101%);
  transition: transform 0.3s;
  font-size: 12px;
  color: $color_dark;
}

.skip-link:focus {
  transform: translateY(0%);
}