h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  color: black;
  max-width: 1000px;
}

h1 {
  font-family: $font-header;
  color: $color-primary;
  font-size: 120px;
  font-weight: 200;
  text-shadow: 
    2px 1px 0px $color-primary-tint,
    0px 0px 10px $color-primary,
    0px 10px 5px $color_shadow;
  
  &::before {
    content: "";
    filter: blur(20px);
  }
  
  &::after {
    content: "Style Stage";
    position: absolute;
    padding: 40px;
    left: 0px;
    top: 0px;
    width: 100%;
    color: transparent;
    background: white;
    -webkit-background-clip: text;
    animation: 3s infinite ease-in clipPath;
    filter: blur(2px);
  }
  
  @media only screen and (max-width: 1250px)  {
    font-size: 80px;
  }
}

p,
a,
span,
ol,
li,
blockquote {
  color: black;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 1.6;
  max-width: 1000px;
  font-weight: 500;
}

.container > p {
  border: 7px solid;
}

header .container > p {
  border: none;
}

header {
  p {
    line-height: 2.3;
  }
  
  p,
  a {
    color: $color-primary;
  }
  h2 {
    font-family: $font-primary;
    color: $color-primary;
    text-shadow: 0px -0.75px 0px $color-primary-tint,
    0px 0px 3px $color-primary-tint,
    0px 2px 5px $color_shadow;

    max-width: 1000px;
  }
}

.skip-link {
  outline: none;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-101%);
  transition: transform 0.3s;
  font-size: 12px;
  color: $color-primary-dark;
}

.skip-link:focus {
  transform: translateY(0%);
}

blockquote {
  left: 20%;
  padding: 5px 30px;
  background-color: black;
  margin: 40px 0;
  max-width: 660px;
  border-radius: 10px;
  border: 5px solid $color-primary;
  box-shadow: 5px 5px 5px 0px $color_shadow,
    25px 25px 0px -10px $mutedNeonBlue,
    -25px -25px 0px -10px $mutedPink;

  &::before {
    content: "";
    position: absolute;
    //background-color: $neonBlue;
    width: 100px;
    height: 100px;
    transform: translateX(30vw) translateY(-50px);
    border-radius: 100%;
    z-index: -1;
    box-shadow: call(get-function(boxShadowPattern), 60, 10px, white, $neonBlueOpacity);
    animation: 30s ease-in-out infinite blink;
  }

  & p,
  & strong {
    color: $color-primary;
    text-shadow: none;
    box-shadow: none;

    /*text-shadow:
            0px -0.75px 0px $color-primary-tint,
            0px 0px 3px $color-primary-tint,
            0px 2px 5px $color_shadow;*/
  }
  
  & strong {
    margin-bottom: 10px;
    font-size: 25px;
    display: flex;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
}

blockquote,
header {
  & a {
    background-color: $mutedNeonBlue;
    box-shadow: 0px 0px 0px 3px $mutedNeonBlue;
    color: black;
    font-weight: bold;
    text-shadow: none;
    display: inline-block;
    text-decoration: none;
    transition: 150ms;

    &:first-of-type {
      transform: skewX(350deg);
    }

    &:last-of-type {
      transform: skewX(5deg) rotateZ(-1deg);

      &::before {
        content: "";
        position: absolute;
        //background-color: $neonBlue;
        width: 100px;
        height: 100px;
        transform: translateX(-100px) translateY(500px);
        border-radius: 100%;
        z-index: -1;
        box-shadow: call(get-function(boxShadowPattern), 60, 20px, $neonBlue, $pinkOpacity);
        animation: 25s ease-in-out infinite blink;
      }
    }

    &:hover {
      box-shadow: 0px 0px 0px 4px $color-primary;
      background-color: $color-primary;
    }
  }
}

#about .container h2:first-of-type {
  margin-bottom: -30px;
  margin-left: -10px;
  z-index: 10;
  border: 5px solid black;
}

@keyframes blink {
  0% {
    background-color: $pinkOpacity;
    box-shadow: call(get-function(boxShadowPattern), 200, 4px, whitesmoke, $pinkOpacity)
  }
  50% {
    background-color: $neonBlueOpacity;
    box-shadow: call(get-function(boxShadowPattern), 200, 1px, whitesmoke, $neonBlueOpacity)
  }
  100% {
    background-color: $pinkOpacity;
    box-shadow: call(get-function(boxShadowPattern), 200, 4px, whitesmoke, $pinkOpacity)
  }
}

@keyframes clipPath {
  0% {
    clip-path: polygon(0% 0, 5% 0, -5% 200%, -25% 200%);
  }
  30% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
  100% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
}