/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&family=Megrim&family=Monoton&family=Righteous&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  max-width: 950px;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "IBM Plex Mono";
  color: black;
  max-width: 1000px;
}

h1 {
  font-family: "Monoton";
  color: #FFCC00;
  font-size: 120px;
  font-weight: 200;
  text-shadow: 2px 1px 0px yellow, 0px 0px 10px #FFCC00, 0px 10px 5px rgba(0, 0, 20, 0.5);
}
h1::before {
  content: "";
  filter: blur(20px);
}
h1::after {
  content: "Style Stage";
  position: absolute;
  padding: 40px;
  left: 0px;
  top: 15px;
  width: 100%;
  color: transparent;
  background: white;
  -webkit-background-clip: text;
  animation: 3s infinite ease-in clipPath;
  filter: blur(2px);
}
@media only screen and (max-width: 1250px) {
  h1 {
    font-size: 80px;
  }
}

p,
a,
span,
ol,
li,
blockquote {
  color: black;
  font-family: "IBM Plex Mono";
  font-size: 20px;
  line-height: 1.6;
  max-width: 1000px;
}

header p,
header a {
  color: #FFCC00;
}
header h2 {
  font-family: "Megrim";
  color: #FFCC00;
  text-shadow: 0px -0.75px 0px yellow, 0px 0px 3px yellow, 0px 2px 5px rgba(0, 0, 20, 0.5);
  max-width: 1000px;
}

.skip-link {
  outline: none;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-101%);
  transition: transform 0.3s;
  font-size: 12px;
  color: black;
}

.skip-link:focus {
  transform: translateY(0%);
}

blockquote {
  left: 20%;
  padding: 5px 30px;
  background-color: black;
  margin: 40px 0;
  max-width: 660px;
  border-radius: 10px;
  border: 5px solid #FFCC00;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 20, 0.5), 25px 25px 0px -10px #c4cbff, -25px -25px 0px -10px #e7cfcc;
}
blockquote::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateX(30vw) translateY(-50px);
  border-radius: 100%;
  z-index: -1;
  box-shadow: white 0px 0px 0px 0px, #4258FF50 0px 0px 0px 5px, white 0px 0px 0px 10px, white 0px 0px 0px 15px, white 0px 0px 0px 20px, #4258FF50 0px 0px 0px 25px, white 0px 0px 0px 30px, white 0px 0px 0px 35px, white 0px 0px 0px 40px, white 0px 0px 0px 45px, white 0px 0px 0px 50px, #4258FF50 0px 0px 0px 55px, white 0px 0px 0px 60px, white 0px 0px 0px 65px, white 0px 0px 0px 70px, white 0px 0px 0px 75px, white 0px 0px 0px 80px, white 0px 0px 0px 85px, white 0px 0px 0px 90px, #4258FF50 0px 0px 0px 95px, white 0px 0px 0px 100px, white 0px 0px 0px 105px, white 0px 0px 0px 110px, white 0px 0px 0px 115px, white 0px 0px 0px 120px, white 0px 0px 0px 125px, white 0px 0px 0px 130px, white 0px 0px 0px 135px, white 0px 0px 0px 140px, #4258FF50 0px 0px 0px 145px, white 0px 0px 0px 150px, white 0px 0px 0px 155px, white 0px 0px 0px 160px, white 0px 0px 0px 165px, white 0px 0px 0px 170px, white 0px 0px 0px 175px, white 0px 0px 0px 180px, white 0px 0px 0px 185px, white 0px 0px 0px 190px, white 0px 0px 0px 195px, white 0px 0px 0px 200px, #4258FF50 0px 0px 0px 205px, white 0px 0px 0px 210px, white 0px 0px 0px 215px, white 0px 0px 0px 220px, white 0px 0px 0px 225px, white 0px 0px 0px 230px, white 0px 0px 0px 235px, white 0px 0px 0px 240px, white 0px 0px 0px 245px, white 0px 0px 0px 250px, white 0px 0px 0px 255px, white 0px 0px 0px 260px, white 0px 0px 0px 265px, white 0px 0px 0px 270px, #4258FF50 0px 0px 0px 275px, white 0px 0px 0px 280px, white 0px 0px 0px 285px, white 0px 0px 0px 290px, rgba(0, 0, 20, 0.5) 0px 35px 10px 0px;
  animation: 30s ease-in-out infinite blink;
}
blockquote p, blockquote strong {
  color: #FFCC00;
  text-shadow: none;
  box-shadow: none;
  text-shadow: 0px -0.75px 0px yellow, 0px 0px 3px yellow, 0px 2px 5px rgba(0, 0, 20, 0.5);
}
blockquote a {
  background-color: #c4cbff;
  box-shadow: 0px 0px 0px 3px #c4cbff;
  color: black;
  font-weight: bold;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  transition: 150ms;
}
blockquote a:first-of-type {
  transform: skewX(350deg);
}
blockquote a:last-of-type {
  transform: skewX(5deg) rotateZ(-1deg);
}
blockquote a:last-of-type::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateX(-100px) translateY(500px);
  border-radius: 100%;
  z-index: -1;
  box-shadow: white 0px 0px 0px 0px, #B2675E50 0px 0px 0px 10px, white 0px 0px 0px 20px, white 0px 0px 0px 30px, white 0px 0px 0px 40px, #B2675E50 0px 0px 0px 50px, white 0px 0px 0px 60px, white 0px 0px 0px 70px, white 0px 0px 0px 80px, white 0px 0px 0px 90px, white 0px 0px 0px 100px, #B2675E50 0px 0px 0px 110px, white 0px 0px 0px 120px, white 0px 0px 0px 130px, white 0px 0px 0px 140px, white 0px 0px 0px 150px, white 0px 0px 0px 160px, white 0px 0px 0px 170px, white 0px 0px 0px 180px, #B2675E50 0px 0px 0px 190px, white 0px 0px 0px 200px, white 0px 0px 0px 210px, white 0px 0px 0px 220px, white 0px 0px 0px 230px, white 0px 0px 0px 240px, white 0px 0px 0px 250px, white 0px 0px 0px 260px, white 0px 0px 0px 270px, white 0px 0px 0px 280px, #B2675E50 0px 0px 0px 290px, white 0px 0px 0px 300px, white 0px 0px 0px 310px, white 0px 0px 0px 320px, white 0px 0px 0px 330px, white 0px 0px 0px 340px, white 0px 0px 0px 350px, white 0px 0px 0px 360px, white 0px 0px 0px 370px, white 0px 0px 0px 380px, white 0px 0px 0px 390px, white 0px 0px 0px 400px, #B2675E50 0px 0px 0px 410px, white 0px 0px 0px 420px, white 0px 0px 0px 430px, white 0px 0px 0px 440px, white 0px 0px 0px 450px, white 0px 0px 0px 460px, white 0px 0px 0px 470px, white 0px 0px 0px 480px, white 0px 0px 0px 490px, white 0px 0px 0px 500px, white 0px 0px 0px 510px, white 0px 0px 0px 520px, white 0px 0px 0px 530px, white 0px 0px 0px 540px, #B2675E50 0px 0px 0px 550px, white 0px 0px 0px 560px, white 0px 0px 0px 570px, white 0px 0px 0px 580px, rgba(0, 0, 20, 0.5) 0px 45px 10px 0px;
  animation: 25s ease-in-out infinite blink;
}
blockquote a:hover {
  box-shadow: 0px 0px 0px 4px #FFCC00;
  background-color: #FFCC00;
}

#about .container h2:first-of-type {
  margin-bottom: -25px;
  margin-left: -10px;
  z-index: 10;
  border: 5px solid black;
}

@keyframes blink {
  0% {
    background-color: #B2675E50;
    box-shadow: white 0px 0px 0px 0px, #B2675E50 0px 0px 0px 2px, white 0px 0px 0px 4px, white 0px 0px 0px 6px, white 0px 0px 0px 8px, #B2675E50 0px 0px 0px 10px, white 0px 0px 0px 12px, white 0px 0px 0px 14px, white 0px 0px 0px 16px, white 0px 0px 0px 18px, white 0px 0px 0px 20px, #B2675E50 0px 0px 0px 22px, white 0px 0px 0px 24px, white 0px 0px 0px 26px, white 0px 0px 0px 28px, white 0px 0px 0px 30px, white 0px 0px 0px 32px, white 0px 0px 0px 34px, white 0px 0px 0px 36px, #B2675E50 0px 0px 0px 38px, white 0px 0px 0px 40px, white 0px 0px 0px 42px, white 0px 0px 0px 44px, white 0px 0px 0px 46px, white 0px 0px 0px 48px, white 0px 0px 0px 50px, white 0px 0px 0px 52px, white 0px 0px 0px 54px, white 0px 0px 0px 56px, #B2675E50 0px 0px 0px 58px, white 0px 0px 0px 60px, white 0px 0px 0px 62px, white 0px 0px 0px 64px, white 0px 0px 0px 66px, white 0px 0px 0px 68px, white 0px 0px 0px 70px, white 0px 0px 0px 72px, white 0px 0px 0px 74px, white 0px 0px 0px 76px, white 0px 0px 0px 78px, white 0px 0px 0px 80px, #B2675E50 0px 0px 0px 82px, white 0px 0px 0px 84px, white 0px 0px 0px 86px, white 0px 0px 0px 88px, white 0px 0px 0px 90px, white 0px 0px 0px 92px, white 0px 0px 0px 94px, white 0px 0px 0px 96px, white 0px 0px 0px 98px, white 0px 0px 0px 100px, white 0px 0px 0px 102px, white 0px 0px 0px 104px, white 0px 0px 0px 106px, white 0px 0px 0px 108px, #B2675E50 0px 0px 0px 110px, white 0px 0px 0px 112px, white 0px 0px 0px 114px, white 0px 0px 0px 116px, white 0px 0px 0px 118px, white 0px 0px 0px 120px, white 0px 0px 0px 122px, white 0px 0px 0px 124px, white 0px 0px 0px 126px, white 0px 0px 0px 128px, white 0px 0px 0px 130px, white 0px 0px 0px 132px, white 0px 0px 0px 134px, white 0px 0px 0px 136px, white 0px 0px 0px 138px, white 0px 0px 0px 140px, #B2675E50 0px 0px 0px 142px, white 0px 0px 0px 144px, white 0px 0px 0px 146px, white 0px 0px 0px 148px, white 0px 0px 0px 150px, white 0px 0px 0px 152px, white 0px 0px 0px 154px, white 0px 0px 0px 156px, white 0px 0px 0px 158px, white 0px 0px 0px 160px, white 0px 0px 0px 162px, white 0px 0px 0px 164px, white 0px 0px 0px 166px, white 0px 0px 0px 168px, white 0px 0px 0px 170px, white 0px 0px 0px 172px, white 0px 0px 0px 174px, white 0px 0px 0px 176px, #B2675E50 0px 0px 0px 178px, white 0px 0px 0px 180px, white 0px 0px 0px 182px, white 0px 0px 0px 184px, white 0px 0px 0px 186px, white 0px 0px 0px 188px, white 0px 0px 0px 190px, white 0px 0px 0px 192px, white 0px 0px 0px 194px, white 0px 0px 0px 196px, white 0px 0px 0px 198px, white 0px 0px 0px 200px, white 0px 0px 0px 202px, white 0px 0px 0px 204px, white 0px 0px 0px 206px, white 0px 0px 0px 208px, white 0px 0px 0px 210px, white 0px 0px 0px 212px, white 0px 0px 0px 214px, white 0px 0px 0px 216px, #B2675E50 0px 0px 0px 218px, white 0px 0px 0px 220px, white 0px 0px 0px 222px, white 0px 0px 0px 224px, white 0px 0px 0px 226px, white 0px 0px 0px 228px, white 0px 0px 0px 230px, white 0px 0px 0px 232px, white 0px 0px 0px 234px, white 0px 0px 0px 236px, white 0px 0px 0px 238px, white 0px 0px 0px 240px, white 0px 0px 0px 242px, white 0px 0px 0px 244px, white 0px 0px 0px 246px, white 0px 0px 0px 248px, white 0px 0px 0px 250px, white 0px 0px 0px 252px, white 0px 0px 0px 254px, white 0px 0px 0px 256px, white 0px 0px 0px 258px, white 0px 0px 0px 260px, #B2675E50 0px 0px 0px 262px, white 0px 0px 0px 264px, white 0px 0px 0px 266px, white 0px 0px 0px 268px, white 0px 0px 0px 270px, white 0px 0px 0px 272px, white 0px 0px 0px 274px, white 0px 0px 0px 276px, white 0px 0px 0px 278px, white 0px 0px 0px 280px, white 0px 0px 0px 282px, white 0px 0px 0px 284px, white 0px 0px 0px 286px, white 0px 0px 0px 288px, white 0px 0px 0px 290px, white 0px 0px 0px 292px, white 0px 0px 0px 294px, white 0px 0px 0px 296px, white 0px 0px 0px 298px, white 0px 0px 0px 300px, white 0px 0px 0px 302px, white 0px 0px 0px 304px, white 0px 0px 0px 306px, white 0px 0px 0px 308px, #B2675E50 0px 0px 0px 310px, white 0px 0px 0px 312px, white 0px 0px 0px 314px, white 0px 0px 0px 316px, white 0px 0px 0px 318px, white 0px 0px 0px 320px, white 0px 0px 0px 322px, white 0px 0px 0px 324px, white 0px 0px 0px 326px, white 0px 0px 0px 328px, white 0px 0px 0px 330px, white 0px 0px 0px 332px, white 0px 0px 0px 334px, white 0px 0px 0px 336px, white 0px 0px 0px 338px, white 0px 0px 0px 340px, white 0px 0px 0px 342px, white 0px 0px 0px 344px, white 0px 0px 0px 346px, white 0px 0px 0px 348px, white 0px 0px 0px 350px, white 0px 0px 0px 352px, white 0px 0px 0px 354px, white 0px 0px 0px 356px, white 0px 0px 0px 358px, white 0px 0px 0px 360px, #B2675E50 0px 0px 0px 362px, white 0px 0px 0px 364px, white 0px 0px 0px 366px, white 0px 0px 0px 368px, white 0px 0px 0px 370px, white 0px 0px 0px 372px, white 0px 0px 0px 374px, white 0px 0px 0px 376px, white 0px 0px 0px 378px, white 0px 0px 0px 380px, white 0px 0px 0px 382px, white 0px 0px 0px 384px, white 0px 0px 0px 386px, white 0px 0px 0px 388px, white 0px 0px 0px 390px, white 0px 0px 0px 392px, white 0px 0px 0px 394px, white 0px 0px 0px 396px, rgba(0, 0, 20, 0.5) 0px 29px 10px 0px;
  }
  50% {
    background-color: #4258FF50;
    box-shadow: white 0px 0px 0px 0px, #4258FF50 0px 0px 0px 0.5px, white 0px 0px 0px 1px, white 0px 0px 0px 1.5px, white 0px 0px 0px 2px, #4258FF50 0px 0px 0px 2.5px, white 0px 0px 0px 3px, white 0px 0px 0px 3.5px, white 0px 0px 0px 4px, white 0px 0px 0px 4.5px, white 0px 0px 0px 5px, #4258FF50 0px 0px 0px 5.5px, white 0px 0px 0px 6px, white 0px 0px 0px 6.5px, white 0px 0px 0px 7px, white 0px 0px 0px 7.5px, white 0px 0px 0px 8px, white 0px 0px 0px 8.5px, white 0px 0px 0px 9px, #4258FF50 0px 0px 0px 9.5px, white 0px 0px 0px 10px, white 0px 0px 0px 10.5px, white 0px 0px 0px 11px, white 0px 0px 0px 11.5px, white 0px 0px 0px 12px, white 0px 0px 0px 12.5px, white 0px 0px 0px 13px, white 0px 0px 0px 13.5px, white 0px 0px 0px 14px, #4258FF50 0px 0px 0px 14.5px, white 0px 0px 0px 15px, white 0px 0px 0px 15.5px, white 0px 0px 0px 16px, white 0px 0px 0px 16.5px, white 0px 0px 0px 17px, white 0px 0px 0px 17.5px, white 0px 0px 0px 18px, white 0px 0px 0px 18.5px, white 0px 0px 0px 19px, white 0px 0px 0px 19.5px, white 0px 0px 0px 20px, #4258FF50 0px 0px 0px 20.5px, white 0px 0px 0px 21px, white 0px 0px 0px 21.5px, white 0px 0px 0px 22px, white 0px 0px 0px 22.5px, white 0px 0px 0px 23px, white 0px 0px 0px 23.5px, white 0px 0px 0px 24px, white 0px 0px 0px 24.5px, white 0px 0px 0px 25px, white 0px 0px 0px 25.5px, white 0px 0px 0px 26px, white 0px 0px 0px 26.5px, white 0px 0px 0px 27px, #4258FF50 0px 0px 0px 27.5px, white 0px 0px 0px 28px, white 0px 0px 0px 28.5px, white 0px 0px 0px 29px, white 0px 0px 0px 29.5px, white 0px 0px 0px 30px, white 0px 0px 0px 30.5px, white 0px 0px 0px 31px, white 0px 0px 0px 31.5px, white 0px 0px 0px 32px, white 0px 0px 0px 32.5px, white 0px 0px 0px 33px, white 0px 0px 0px 33.5px, white 0px 0px 0px 34px, white 0px 0px 0px 34.5px, white 0px 0px 0px 35px, #4258FF50 0px 0px 0px 35.5px, white 0px 0px 0px 36px, white 0px 0px 0px 36.5px, white 0px 0px 0px 37px, white 0px 0px 0px 37.5px, white 0px 0px 0px 38px, white 0px 0px 0px 38.5px, white 0px 0px 0px 39px, white 0px 0px 0px 39.5px, white 0px 0px 0px 40px, white 0px 0px 0px 40.5px, white 0px 0px 0px 41px, white 0px 0px 0px 41.5px, white 0px 0px 0px 42px, white 0px 0px 0px 42.5px, white 0px 0px 0px 43px, white 0px 0px 0px 43.5px, white 0px 0px 0px 44px, #4258FF50 0px 0px 0px 44.5px, white 0px 0px 0px 45px, white 0px 0px 0px 45.5px, white 0px 0px 0px 46px, white 0px 0px 0px 46.5px, white 0px 0px 0px 47px, white 0px 0px 0px 47.5px, white 0px 0px 0px 48px, white 0px 0px 0px 48.5px, white 0px 0px 0px 49px, white 0px 0px 0px 49.5px, white 0px 0px 0px 50px, white 0px 0px 0px 50.5px, white 0px 0px 0px 51px, white 0px 0px 0px 51.5px, white 0px 0px 0px 52px, white 0px 0px 0px 52.5px, white 0px 0px 0px 53px, white 0px 0px 0px 53.5px, white 0px 0px 0px 54px, #4258FF50 0px 0px 0px 54.5px, white 0px 0px 0px 55px, white 0px 0px 0px 55.5px, white 0px 0px 0px 56px, white 0px 0px 0px 56.5px, white 0px 0px 0px 57px, white 0px 0px 0px 57.5px, white 0px 0px 0px 58px, white 0px 0px 0px 58.5px, white 0px 0px 0px 59px, white 0px 0px 0px 59.5px, white 0px 0px 0px 60px, white 0px 0px 0px 60.5px, white 0px 0px 0px 61px, white 0px 0px 0px 61.5px, white 0px 0px 0px 62px, white 0px 0px 0px 62.5px, white 0px 0px 0px 63px, white 0px 0px 0px 63.5px, white 0px 0px 0px 64px, white 0px 0px 0px 64.5px, white 0px 0px 0px 65px, #4258FF50 0px 0px 0px 65.5px, white 0px 0px 0px 66px, white 0px 0px 0px 66.5px, white 0px 0px 0px 67px, white 0px 0px 0px 67.5px, white 0px 0px 0px 68px, white 0px 0px 0px 68.5px, white 0px 0px 0px 69px, white 0px 0px 0px 69.5px, white 0px 0px 0px 70px, white 0px 0px 0px 70.5px, white 0px 0px 0px 71px, white 0px 0px 0px 71.5px, white 0px 0px 0px 72px, white 0px 0px 0px 72.5px, white 0px 0px 0px 73px, white 0px 0px 0px 73.5px, white 0px 0px 0px 74px, white 0px 0px 0px 74.5px, white 0px 0px 0px 75px, white 0px 0px 0px 75.5px, white 0px 0px 0px 76px, white 0px 0px 0px 76.5px, white 0px 0px 0px 77px, #4258FF50 0px 0px 0px 77.5px, white 0px 0px 0px 78px, white 0px 0px 0px 78.5px, white 0px 0px 0px 79px, white 0px 0px 0px 79.5px, white 0px 0px 0px 80px, white 0px 0px 0px 80.5px, white 0px 0px 0px 81px, white 0px 0px 0px 81.5px, white 0px 0px 0px 82px, white 0px 0px 0px 82.5px, white 0px 0px 0px 83px, white 0px 0px 0px 83.5px, white 0px 0px 0px 84px, white 0px 0px 0px 84.5px, white 0px 0px 0px 85px, white 0px 0px 0px 85.5px, white 0px 0px 0px 86px, white 0px 0px 0px 86.5px, white 0px 0px 0px 87px, white 0px 0px 0px 87.5px, white 0px 0px 0px 88px, white 0px 0px 0px 88.5px, white 0px 0px 0px 89px, white 0px 0px 0px 89.5px, white 0px 0px 0px 90px, #4258FF50 0px 0px 0px 90.5px, white 0px 0px 0px 91px, white 0px 0px 0px 91.5px, white 0px 0px 0px 92px, white 0px 0px 0px 92.5px, white 0px 0px 0px 93px, white 0px 0px 0px 93.5px, white 0px 0px 0px 94px, white 0px 0px 0px 94.5px, white 0px 0px 0px 95px, white 0px 0px 0px 95.5px, white 0px 0px 0px 96px, white 0px 0px 0px 96.5px, white 0px 0px 0px 97px, white 0px 0px 0px 97.5px, white 0px 0px 0px 98px, white 0px 0px 0px 98.5px, white 0px 0px 0px 99px, rgba(0, 0, 20, 0.5) 0px 26px 10px 0px;
  }
  100% {
    background-color: #B2675E50;
    box-shadow: white 0px 0px 0px 0px, #B2675E50 0px 0px 0px 2px, white 0px 0px 0px 4px, white 0px 0px 0px 6px, white 0px 0px 0px 8px, #B2675E50 0px 0px 0px 10px, white 0px 0px 0px 12px, white 0px 0px 0px 14px, white 0px 0px 0px 16px, white 0px 0px 0px 18px, white 0px 0px 0px 20px, #B2675E50 0px 0px 0px 22px, white 0px 0px 0px 24px, white 0px 0px 0px 26px, white 0px 0px 0px 28px, white 0px 0px 0px 30px, white 0px 0px 0px 32px, white 0px 0px 0px 34px, white 0px 0px 0px 36px, #B2675E50 0px 0px 0px 38px, white 0px 0px 0px 40px, white 0px 0px 0px 42px, white 0px 0px 0px 44px, white 0px 0px 0px 46px, white 0px 0px 0px 48px, white 0px 0px 0px 50px, white 0px 0px 0px 52px, white 0px 0px 0px 54px, white 0px 0px 0px 56px, #B2675E50 0px 0px 0px 58px, white 0px 0px 0px 60px, white 0px 0px 0px 62px, white 0px 0px 0px 64px, white 0px 0px 0px 66px, white 0px 0px 0px 68px, white 0px 0px 0px 70px, white 0px 0px 0px 72px, white 0px 0px 0px 74px, white 0px 0px 0px 76px, white 0px 0px 0px 78px, white 0px 0px 0px 80px, #B2675E50 0px 0px 0px 82px, white 0px 0px 0px 84px, white 0px 0px 0px 86px, white 0px 0px 0px 88px, white 0px 0px 0px 90px, white 0px 0px 0px 92px, white 0px 0px 0px 94px, white 0px 0px 0px 96px, white 0px 0px 0px 98px, white 0px 0px 0px 100px, white 0px 0px 0px 102px, white 0px 0px 0px 104px, white 0px 0px 0px 106px, white 0px 0px 0px 108px, #B2675E50 0px 0px 0px 110px, white 0px 0px 0px 112px, white 0px 0px 0px 114px, white 0px 0px 0px 116px, white 0px 0px 0px 118px, white 0px 0px 0px 120px, white 0px 0px 0px 122px, white 0px 0px 0px 124px, white 0px 0px 0px 126px, white 0px 0px 0px 128px, white 0px 0px 0px 130px, white 0px 0px 0px 132px, white 0px 0px 0px 134px, white 0px 0px 0px 136px, white 0px 0px 0px 138px, white 0px 0px 0px 140px, #B2675E50 0px 0px 0px 142px, white 0px 0px 0px 144px, white 0px 0px 0px 146px, white 0px 0px 0px 148px, white 0px 0px 0px 150px, white 0px 0px 0px 152px, white 0px 0px 0px 154px, white 0px 0px 0px 156px, white 0px 0px 0px 158px, white 0px 0px 0px 160px, white 0px 0px 0px 162px, white 0px 0px 0px 164px, white 0px 0px 0px 166px, white 0px 0px 0px 168px, white 0px 0px 0px 170px, white 0px 0px 0px 172px, white 0px 0px 0px 174px, white 0px 0px 0px 176px, #B2675E50 0px 0px 0px 178px, white 0px 0px 0px 180px, white 0px 0px 0px 182px, white 0px 0px 0px 184px, white 0px 0px 0px 186px, white 0px 0px 0px 188px, white 0px 0px 0px 190px, white 0px 0px 0px 192px, white 0px 0px 0px 194px, white 0px 0px 0px 196px, white 0px 0px 0px 198px, white 0px 0px 0px 200px, white 0px 0px 0px 202px, white 0px 0px 0px 204px, white 0px 0px 0px 206px, white 0px 0px 0px 208px, white 0px 0px 0px 210px, white 0px 0px 0px 212px, white 0px 0px 0px 214px, white 0px 0px 0px 216px, #B2675E50 0px 0px 0px 218px, white 0px 0px 0px 220px, white 0px 0px 0px 222px, white 0px 0px 0px 224px, white 0px 0px 0px 226px, white 0px 0px 0px 228px, white 0px 0px 0px 230px, white 0px 0px 0px 232px, white 0px 0px 0px 234px, white 0px 0px 0px 236px, white 0px 0px 0px 238px, white 0px 0px 0px 240px, white 0px 0px 0px 242px, white 0px 0px 0px 244px, white 0px 0px 0px 246px, white 0px 0px 0px 248px, white 0px 0px 0px 250px, white 0px 0px 0px 252px, white 0px 0px 0px 254px, white 0px 0px 0px 256px, white 0px 0px 0px 258px, white 0px 0px 0px 260px, #B2675E50 0px 0px 0px 262px, white 0px 0px 0px 264px, white 0px 0px 0px 266px, white 0px 0px 0px 268px, white 0px 0px 0px 270px, white 0px 0px 0px 272px, white 0px 0px 0px 274px, white 0px 0px 0px 276px, white 0px 0px 0px 278px, white 0px 0px 0px 280px, white 0px 0px 0px 282px, white 0px 0px 0px 284px, white 0px 0px 0px 286px, white 0px 0px 0px 288px, white 0px 0px 0px 290px, white 0px 0px 0px 292px, white 0px 0px 0px 294px, white 0px 0px 0px 296px, white 0px 0px 0px 298px, white 0px 0px 0px 300px, white 0px 0px 0px 302px, white 0px 0px 0px 304px, white 0px 0px 0px 306px, white 0px 0px 0px 308px, #B2675E50 0px 0px 0px 310px, white 0px 0px 0px 312px, white 0px 0px 0px 314px, white 0px 0px 0px 316px, white 0px 0px 0px 318px, white 0px 0px 0px 320px, white 0px 0px 0px 322px, white 0px 0px 0px 324px, white 0px 0px 0px 326px, white 0px 0px 0px 328px, white 0px 0px 0px 330px, white 0px 0px 0px 332px, white 0px 0px 0px 334px, white 0px 0px 0px 336px, white 0px 0px 0px 338px, white 0px 0px 0px 340px, white 0px 0px 0px 342px, white 0px 0px 0px 344px, white 0px 0px 0px 346px, white 0px 0px 0px 348px, white 0px 0px 0px 350px, white 0px 0px 0px 352px, white 0px 0px 0px 354px, white 0px 0px 0px 356px, white 0px 0px 0px 358px, white 0px 0px 0px 360px, #B2675E50 0px 0px 0px 362px, white 0px 0px 0px 364px, white 0px 0px 0px 366px, white 0px 0px 0px 368px, white 0px 0px 0px 370px, white 0px 0px 0px 372px, white 0px 0px 0px 374px, white 0px 0px 0px 376px, white 0px 0px 0px 378px, white 0px 0px 0px 380px, white 0px 0px 0px 382px, white 0px 0px 0px 384px, white 0px 0px 0px 386px, white 0px 0px 0px 388px, white 0px 0px 0px 390px, white 0px 0px 0px 392px, white 0px 0px 0px 394px, white 0px 0px 0px 396px, rgba(0, 0, 20, 0.5) 0px 29px 10px 0px;
  }
}
@keyframes clipPath {
  0% {
    clip-path: polygon(0% 0, 5% 0, -5% 200%, -25% 200%);
  }
  30% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
  100% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
}
html {
  background-color: silver;
  background-image: radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
  display: flex;
  justify-content: center;
}

body {
  position: absolute;
  max-width: 1250px;
}
@media only screen and (min-width: 1250px) {
  body {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

main,
article {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1250px;
  margin-bottom: 20px;
}
.container article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .container {
  border: none;
  box-shadow: none;
  animation: none;
  clip-path: polygon(100% -10%, 100% 100%, 0 98%, 0 0);
  background-color: white;
  padding: 20px 10%;
  max-width: 950px;
}
.container .container > p, .container .container > span, .container .container > h2, .container .container > h3, .container .container > h4 {
  max-width: 950px;
  padding: 10px 20px;
}
.container .container > p:nth-child(even), .container .container > span:nth-child(even), .container .container > h2:nth-child(even), .container .container > h3:nth-child(even), .container .container > h4:nth-child(even) {
  transform: skewX(-3deg);
  background-color: #c4cbff;
}
.container .container > p:nth-child(odd), .container .container > span:nth-child(odd), .container .container > h2:nth-child(odd), .container .container > h3:nth-child(odd), .container .container > h4:nth-child(odd) {
  background-color: #e7cfcc;
  transform: skewX(3deg);
}
.container .container > p:nth-child(3), .container .container > span:nth-child(3), .container .container > h2:nth-child(3), .container .container > h3:nth-child(3), .container .container > h4:nth-child(3) {
  transform: skewX(0deg) translateX(10px) rotateZ(0.5deg);
  background-color: #e7cfcc;
}

header .container {
  padding: 40px;
  max-width: none;
  background: black;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  border: 15px solid #e7cfcc;
}
@media only screen and (max-width: 1250px) {
  header .container {
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0 100%);
  }
}

main .container {
  max-width: none;
}

#about .container {
  justify-content: center;
  align-items: start;
  text-align: left;
}
#about .container > p:last-child {
  background-color: #e7cfcc;
  transform: skewX(0);
  margin-bottom: 70px;
}

@keyframes clipPath {
  0% {
    clip-path: polygon(0% 0, 5% 0, -5% 200%, -25% 200%);
  }
  30% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
  100% {
    clip-path: polygon(125% 0, 140% 0, 115% 200%, 100% 200%);
  }
}
nav {
  width: 100%;
  background: linear-gradient(45deg, #e7cfcd, #d8cde2);
  padding-bottom: 25px;
}
@media only screen and (min-width: 1250px) {
  nav {
    transform: rotateZ(1deg) translateY(10px);
    padding-bottom: 60px;
  }
}
nav::before {
  content: "";
  position: absolute;
  width: 100%;
  background: linear-gradient(45deg, #e7cfcd, #d8cde2);
  height: 100px;
  transform: translateY(-60px);
  z-index: -1;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  gap: 20px;
}
nav ul li {
  list-style: none;
  width: 40%;
  text-align: center;
  background-color: #c4cbff;
  box-shadow: 0px 0px 0px 3px #c4cbff;
  color: black;
  font-weight: bold;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  transition: 250ms;
  border: 5px solid black;
}
nav ul li a {
  text-decoration: none;
  line-height: 3;
}
nav ul li:nth-child(2n) {
  transform: skewX(-5deg);
}
nav ul li:nth-child(3n) {
  transform: skewX(5deg) rotateZ(-1deg);
}
nav ul li:hover, nav ul li:focus, nav ul li:active {
  box-shadow: 0px 0px 0px 4px #FFCC00;
  background-color: #FFCC00;
  cursor: pointer;
  transform: skewX(0);
}

.link-github {
  display: none;
}
